* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    max-width: 2000px;
    margin: 0 auto;
}


/* header......................... */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1800px;
    margin: 0 auto;
}

.header img {
    width: 200px;
}

.header .login-starter_btns {
    display: flex;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}
.header .login-starter_btns a {
    text-decoration-line: none;

}

.header .login-starter_btns .login_btn {
    margin: 0 10px;
    padding: 15px;
    color: black;
}

.header .login-starter_btns .starter_btn {
    margin: 0 10px;
    color: aliceblue;
    background-color: blue;
    padding: 15px;
    border-radius: 10px;
}



/* .main_content1.................. */



.main_content1 {
    max-width: 2000px;
    margin: 0 auto;
    
}

.main_content1 h1 {
    text-align: center;
    font-size: 85px;
    margin: 15px auto;
    max-width: 1720px;
}

.main_content1 .offers {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 4rem;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}


.main_content1 .offers a{
    position: relative;
    text-decoration: none;
}


/* offer 1 & 2 ............................. */

.main_content1 .offer1 {
    background-color: rgb(237, 203, 78);
    max-width: 700px;
    padding: 20px;
    position: relative;
    border-radius: 5px;
}

.main_content1 .offer2 {
    background-color: rgb(113, 122, 226);
    max-width: 700px;
    padding: 20px;
    position: relative;
    border-radius: 5px;
}


.main_content1 .offer1 .box {
    margin: 50px 35px;
    color: black;

}

.main_content1 .offer2 .box {
    margin: 50px 35px;
    color: white;
}

.main_content1 h2 {
    font-size: 46px;

}

.main_content1 h3 {
    margin: 15px 0 40px;
    font-size: 40px;
}

.main_content1 span {
    font-size: 18px;
}

.main_content1 .note {
    max-width: 460px;
    margin: 10px 0 25px;
    word-spacing: 1px;
    line-height: 33px;
    letter-spacing: 1px;
    font-size: 22px;
}



/* Take a challenge btn 1 & 2.......................... */

.main_content1 .offer1 .note_btn {
    color: white;
    margin: 10px 0;
    background-color: rgb(113, 122, 226);
    padding: 17px;
    font-size: 22px;
    width: 220px;
    text-align: center;
    margin-top: 45px;
    border-radius: 5px;
}


.main_content1 .offer2 .note_btn {
    color: black;
    margin: 10px 0;
    background-color:  rgb(237, 203, 78);
    padding: 15px;
    font-size: 22px;
    width: 220px;
    text-align: center;
    margin-top: 45px;
    border-radius: 5px;
}

.main_content1 .offer2 .note_btn:hover {
    background-color: aliceblue;
}


.main_content1 .images {
    position: absolute;
    top: 0;
    margin: auto;
}

.main_content1 .image {
    position: relative;
}

.main_content1 .images:hover {
    position: relative;
}


.main_content1 img {
    position: absolute;
    width: 50%;
    /* visibility: hidden; */
    z-index: -1;
}
.main_content1 img:hover {
    width: 50%;
    z-index: 1;
}



/* main_content2................................ */


.main_content2 h1 {
    text-align: center;
    font-size: 42px;
    margin: 85px 0 40px;
}

.work_field .works {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.work_field .work {
    margin: 0 auto;
    max-width: 400px;
}

.work_field .works img {
    width: 120px;
    margin: 25px;
}

.work_field .works p {
    word-spacing: 1px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}



/* main_content3 .......................... */



.challenge_field {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px 0 70px;
}

.main_content3 .image1 {
    width: 530px;
    
    margin: 20px auto;
    
}

.head_challenge h1{
    text-align: left;
    font-size: 37px;
    margin: 0px auto;
}

.challenge_field .head_challenge {
    max-width: 500px;
    margin: 10px auto;
}

.challenge_field .challenge {
    display: flex;
    margin: 30px 0;
    
}

.challenge img {
    margin: 0 10px 28px 0;
}

.challenge p {
    /* max-width: 500px; */
    font-size: 20px;
    text-align: left;
    word-spacing: 1px;
    line-height: 33px;
    letter-spacing: 1px;
}



/* main_content4 ............................... */


.main_content4 h1{
    text-align: center;
    font-size: 37px;
}

.main_content4 .course_field {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 4rem; 
    text-align: center;
    justify-content: center;
    align-items: center;
}

.course_field .course {
    position: relative;
    background-color: rgb(248, 248, 248);
    padding: 30px;
    width: 500px;
    border-radius: 5px;
    margin: 70px 20px 20px 20px;
}

.course_field img {
    width: 60px;
    position: absolute;
    background-color: rgb(241, 197, 84);
    margin: -50px;
    border-radius: 5px;
    box-shadow: 0 2px rgb(0, 0, 0, 0.2);
}

.course_field p {
    margin: 50px 0px 5px;
    padding: 10px;
    font-size: 20px;
}


/* main_content5 .................................. */


.main_content5 {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin: 0 auto;
    justify-content: center;
}

.certificate_field {
    margin: 5px 30px 0 0;
}

.certificate_field h1 {
    text-align: left;
    font-size: 40px;
    margin: 85px 0 40px 0;
}

.certificate_field .certificate {
    display: flex;
}

.certificate_field .certificate img {
    margin: 0 10px 28px 0;
    width: 25px;
}

.certificate_field p {
    max-width: 560px;
    line-height: 30px;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 15px;
}

.main_content5 .certificate_img img {
    width: 560px;
}



/* main_content6 .................................... */


.aboutcourse_field {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.main_content6 h1 {
    font-size: 45px;
    margin: 50px auto;
    text-align: center;
}

.aboutcourse {
    display: flex;
}

.aboutcourse img {
    width: 90px;
    border-radius: 50%;
    margin: 0 40px 0 0;
}

.aboutcourse .note {
    max-width: 450px;
    font-size: 22px;
    margin: 0 0 50px;
}

.aboutcourse .note1 {
    margin: 0 0 25px;
    line-height: 35px;
    font-weight: 400;
}
.aboutcourse .note2 {
    margin: 10px 0 15px;
    font-weight: 400;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px auto 10px;
    align-items: center;
    padding: 40px;
    max-width: 1500px;
    border-top: solid 1px rgb(173, 170, 170);
}

footer p {
    font-size: 20px;
    margin: 10px;
}

















/* Screen width less than 690 ........................ */


@media screen and (max-width:690px){

    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .content {
        max-width: 500px;
        justify-content: center;
        align-items: center;
    }
    
    
    /* header......................... */
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .header img {
        width: 100px;
    }
    
    .header .login-starter_btns {
        display: flex;
        margin: 5px;
        font-size: 15px;
        font-weight: 200;
    }
    .header .login-starter_btns a {
        text-decoration-line: none;
    }
    
    .header .login-starter_btns .login_btn {
        margin: 0 10px;
        padding: 8px;
        color: black;
    }
    
    .header .login-starter_btns .starter_btn {
        margin: 0 10px;
        color: aliceblue;
        background-color: blue;
        padding: 8px;
        border-radius: 5px;
    }
    
    
    
    /* .main_content1.................. */
    
    
    
    .main_content1 {
        max-width: 1600px;
        margin: 0 auto;
        
    }
    
    .main_content1 h1 {
        text-align: center;
        font-size: 18px;
        margin: 10px 15px;
    }
    
    .main_content1 .offers {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 8rem;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    
    .main_content1 .offers a{
        position: relative;
        text-decoration: none;
    }
    
    
    /* offer 1 & 2 ............................. */
    
    .main_content1 .offer1 {
        background-color: rgb(237, 203, 78);
        padding: 20px;
        position: relative;
        border-radius: 5px;
    }
    
    .main_content1 .offer2 {
        background-color: rgb(113, 122, 226);
        padding: 20px;
        position: relative;
        border-radius: 5px;
    }
    
    /* box 1 & 2.................................. */
    
    .main_content1 .offer1 .box {
        margin: 15px 10px;
        color: black;
    
    }
    
    .main_content1 .offer2 .box {
        margin: 15px 10px;
        color: white;
    }
    
    .main_content1 h2 {
        font-size: 30px;
    }
    
    .main_content1 h3 {
        margin: 12px 0 15px;
        font-size: 25px;
    }
    
    .main_content1 span {
        font-size: 15px;
    }
    
    .main_content1 .note {
        max-width: 170px;
        line-height: 25px;
        font-size: 18px;
    }
    
    
    
    /* Take a challenge btn 1 & 2.......................... */
    
    .main_content1 .offer1 .note_btn {
        color: white;
        margin: 10px 0;
        background-color: rgb(113, 122, 226);
        padding: 8px;
        font-size: 15px;
        width: 140px;
        text-align: center;
        border-radius: 5px;
    }
    
    
    .main_content1 .offer2 .note_btn {
        color: black;
        margin: 10px 0;
        background-color:  rgb(237, 203, 78);
        padding: 8px;
        font-size: 15px;
        width: 140px;
        text-align: center;
        border-radius: 5px;
    }
    
    
    .main_content1 .images {
        position: absolute;
        top: 0;
        margin: auto;
    }
    
    .main_content1 .image {
        position: relative;
    }
    
    
    .main_content1 img {
        position: absolute;
        width: 50%;
        /* visibility: hidden; */
        z-index: -1;
    }
    
    /* main_content2................................ */
    
    
    .main_content2 h1 {
        text-align: center;
        font-size: 32px;
        margin: 75px 0 25px;
    }
    
    .work_field .works {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .work_field .work {
        margin: 0 auto;
        max-width: 250px;
    }
    
    .work_field .works img {
        width: 120px;
        margin: 25px;
    }
    
    .work_field .works p {
        word-spacing: 1px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 500;
    }
    
    
    
    /* main_content3 .......................... */
    
    
    
    .challenge_field {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 50px 0 70px;
    }
    
    .main_content3 .image1 {
        width: 250px;
        margin: 20px auto;
        
    }
    
    .head_challenge h1{
        text-align: left;
        font-size: 25px;
        margin: 0px auto;
    }
    
    .challenge_field .head_challenge {
        max-width: 300px;
        margin: 10px auto;
    }
    
    .challenge_field .challenge {
        display: flex;
        margin: 30px 0;
        
    }
    
    .challenge img {
        margin: 0 10px 28px 0;
    }
    
    .challenge p {
        /* max-width: 500px; */
        font-size: 20px;
        text-align: left;
        word-spacing: 1px;
        line-height: 33px;
        letter-spacing: 1px;
    }
    
    
    
    /* main_content4 ............................... */
    

    .main_content4 {
        max-width: 300px;
        margin: 0 auto;
    }
    
    .main_content4 h1{
        text-align: center;
        font-size: 25px;

    }
    
    .main_content4 .course_field {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 4rem; 
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .course_field .course {
        position: relative;
        background-color: rgb(248, 248, 248);
        padding: 30px;
        width: 500px;
        border-radius: 5px;
        margin: 70px 20px 20px 20px;
    }
    
    .course_field img {
        width: 40px;
        position: absolute;
        background-color: rgb(241, 197, 84);
        margin: -50px;
        border-radius: 8px;
        box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
        padding: 10px;
    }
    
    .course_field p {
        margin: 12px 0px 3px;
        padding: 10px;
        font-size: 20px;
    }
    
    
    /* main_content5 .................................. */
    
    
    .main_content5 {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 10px;
        margin: 0 auto;
        justify-content: center;
        max-width: 320px;
    }
    
    .certificate_field {
        margin: 5px 30px 0 0;
    }
    
    .certificate_field h1 {
        text-align: left;
        font-size: 25px;
        margin: 30px 0 20px 0;
    }
    
    .certificate_field .certificate {
        display: flex;
    }
    
    .certificate_field .certificate img {
        margin: 0px 10px 28px 0;
        width: 20px;
    }
    
    .certificate_field p {
        max-width: 560px;
        line-height: 20px;
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 15px;
    }
    
    .main_content5 .certificate_img img {
        width: 250px;
        margin: 10px 0 ;
        box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
    }
    
    
    
    /* main_content6 .................................... */
    

    .main_content6 {
        max-width: 350px;
    }
    
    .aboutcourse_field {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
    }
    
    .main_content6 h1 {
        font-size: 25px;
        margin: 50px auto;
        text-align: center;
    }
    
    .aboutcourse {
        display: flex;
        margin: 0 0 0 10px;
    }
    
    .aboutcourse img {
        width: 90px;
        border-radius: 50%;
        margin: 0 40px 0 0;
        float: left;
    }
    
    .aboutcourse .note {
        max-width: 450px;
        font-size: 18px;
        margin: 0 0 50px;
    }
    
    .aboutcourse .note1 {
        margin: 0 0 25px;
        line-height: 35px;
        font-weight: 400;
    }
    .aboutcourse .note2 {
        margin: 10px 0 15px;
        font-weight: 400;
    }
    
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 80px auto 10px;
        align-items: center;
        padding: 40px;
        max-width: 1500px;
        border-top: solid 1px rgb(173, 170, 170);
    }
    
    footer p {
        font-size: 15px;
        margin: 10px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

}



























































